<li>
	{{this.dataValues.id}}. {{this.dataValues.burger_name}} 

	<button class="devour" data-burger_nameid="{{this.dataValues.id}}" data-newEat="{{devoured}}">
		{{#if this.dataValues.devoured}}Vomit!!{{else}}Devour!!{{/if}}
	</button>
</li>